## Book 1_Snscrape (Twitter)

*Note: I was unable to upload all of the datasets that I have used in these notebooks onto github because of how big the size of the file was. But if you have any questions feel free to reach out to me thank you :)*

This book will focus on the extraction of twitter posts, which will form up the first part of my data set. In order to accomplish this, I will be using Snscrape which is a scraper for social networking services (SNS). By using this scraper we will be able to scrape items such as, Datetime, Tweet ID, Text and Username. 

Key words such as “i want to kill myself”, “depressed and suicidal”, “sadness and hopelessness”, “i am worthless”, “no one cares” were utilised in identifying twitter posts to scrape. All data scrapped were within the range of January to August 2020. In addition to that, some non-suicidal posts were also scrapped during the timeline mentioned above in order to act as the “control” for our dataset. Towards the end of book 1, all the different datasets were combined to form 1 dataset and it was exported as: ‘tweets_merged.csv’

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

## Suicidal Posts

#### January 2020

In [2]:
# Setting variables to be used below
maxTweets = 500

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('i want to kill myself since:2020-01-12 until:2020-01-18').get_items()):
    if i>maxTweets:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [3]:
# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df1.head()

,Datetime,Tweet Id,Text,Username
0,2020-01-17 23:59:10+00:00,1218321899769552897,job and i wouldn’t have to save money toward a...,KaiiiKay
1,2020-01-17 23:32:32+00:00,1218315193580773380,I HATE ME SO MUCH I WANT TO KILL MYSELF NO ONE...,MGlmcm
2,2020-01-17 22:56:36+00:00,1218306151319629824,I want to go to the club by myself because I’m...,acidinterlude
3,2020-01-17 22:24:17+00:00,1218298018161680384,I want to kill myself,BeeInBitch
4,2020-01-17 22:16:16+00:00,1218296000785387520,@Doremiisz @Metro2033Leader @Thafnine That's t...,PinceMouette

In [4]:
tweets_df1.shape

(501, 4)

#### Feburary 2020

In [5]:
# Setting variables to be used below
maxTweets = 500

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('depressed and suicidal since:2020-02-12 until:2020-02-18').get_items()):
    if i>maxTweets:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [6]:
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df2.head()

,Datetime,Tweet Id,Text,Username
0,2020-02-17 23:52:39+00:00,1229554281235337216,If anyone on my socials is feeling depressed o...,chloedraper_
1,2020-02-17 23:49:24+00:00,1229553464197468160,who watch their children taken and sold!!! Lik...,JohnWyche
2,2020-02-17 23:42:44+00:00,1229551786748305408,PLEASE SHARE\nAre you depressed? Angry with th...,ryancansdale1
3,2020-02-17 23:35:21+00:00,1229549927140921349,@magikidsMTG @weirdcards I was never suicidal ...,Equilorian
4,2020-02-17 23:04:29+00:00,1229542160866906112,Dont wanna do this anymore. I get home and imm...,Afightvsmyself

In [7]:
tweets_df2.shape

(314, 4)

#### March 2020

In [8]:
# Setting variables to be used below
maxTweets = 500

# Creating list to append tweet data to
tweets_list3 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('sadness, hopelessness since:2020-03-01 until:2020-03-31').get_items()):
    if i>maxTweets:
        break
    tweets_list3.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [9]:
# Creating a dataframe from the tweets list above
tweets_df3 = pd.DataFrame(tweets_list3, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df3.head()

,Datetime,Tweet Id,Text,Username
0,2020-03-30 23:07:47+00:00,1244763283103637504,@HalsallDoug Aren’t they listening? Don’t they...,allandouglas41
1,2020-03-30 21:10:21+00:00,1244733727990853635,Allow yourself to feel. \nDon’t get stuck in s...,chelseanicd
2,2020-03-30 20:44:04+00:00,1244727111845322752,"Problem: sadness, angry,\nemptiness, hopelessn...",iamhamoodii
3,2020-03-30 20:27:36+00:00,1244722968246263811,"Problems: sadness,angry, emptiness,hopelessnes...",Abdulla69662874
4,2020-03-30 10:21:09+00:00,1244570352019218433,"Problems: sadness, angry, emptiness, anxiety, ...",rj_ibrar

In [10]:
tweets_df3.shape

(302, 4)

#### April 2020

In [11]:
# Setting variables to be used below
maxTweets = 500

# Creating list to append tweet data to
tweets_list4 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('sadness, hopelessness since:2020-04-01 until:2020-04-30').get_items()):
    if i>maxTweets:
        break
    tweets_list4.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [12]:
# Creating a dataframe from the tweets list above
tweets_df4 = pd.DataFrame(tweets_list4, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df4.head()

,Datetime,Tweet Id,Text,Username
0,2020-04-29 23:44:30+00:00,1255644157500145664,Basically the solution to ending the destructi...,lmazzeiphotos
1,2020-04-29 22:47:12+00:00,1255629735717031936,@bombaytimes 2020 is the worst year of 21st ce...,prabh_kaur07
2,2020-04-29 22:28:38+00:00,1255625064390602752,@NYTHealth These are some things the technique...,boomer12k
3,2020-04-29 22:00:54+00:00,1255618084817248260,"The threat of #Covid19 to ourselves, our loved...",ImagineCenterMi
4,2020-04-29 21:35:09+00:00,1255611603237535744,The article explores how young children with p...,hcwhosted

In [13]:
tweets_df4.shape

(402, 4)

#### May 2020

In [14]:
# Setting variables to be used below
maxTweets = 500

# Creating list to append tweet data to
tweets_list5 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('i am worthless since:2020-05-01 until:2020-05-31').get_items()):
    if i>maxTweets:
        break
    tweets_list5.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [15]:
# Creating a dataframe from the tweets list above
tweets_df5 = pd.DataFrame(tweets_list5, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df5.head()

,Datetime,Tweet Id,Text,Username
0,2020-05-30 22:34:22+00:00,1266860529538252801,ha ha wow I am so worthless lmfao,T3TR3l
1,2020-05-30 22:13:22+00:00,1266855247508635650,People just make me so mad. I am so sorry I am...,95zchingu
2,2020-05-30 22:09:58+00:00,1266854392474603523,"I am in no way , shape or form perfect. But do...",Realidrisfrench
3,2020-05-30 21:56:11+00:00,1266850922111655936,@depressionarmy That I’ll never be enough for ...,Grrrl1der
4,2020-05-30 21:49:00+00:00,1266849115687747584,I am a worthless piece of shit,jjivxv

In [16]:
tweets_df5.shape

(501, 4)

#### June 2020

In [17]:
# Setting variables to be used below
maxTweets = 500

# Creating list to append tweet data to
tweets_list6 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('i want to kill myself since:2020-06-12 until:2020-06-18').get_items()):
    if i>maxTweets:
        break
    tweets_list6.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [18]:
# Creating a dataframe from the tweets list above
tweets_df6 = pd.DataFrame(tweets_list6, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df6.head()

,Datetime,Tweet Id,Text,Username
0,2020-06-17 23:47:41+00:00,1273401962277548033,Me quiero matar con dibujo analítico dios mio ...,Sahily_Ale
1,2020-06-17 23:40:57+00:00,1273400267912785921,"i’m done, i’m so tired i want to kill myself",everydaysharpay
2,2020-06-17 23:39:18+00:00,1273399852320382976,OH MY GOD SOMEONE FUCKING SHOOT ME I WANT TO F...,ChillyIce
3,2020-06-17 23:09:36+00:00,1273392379664293888,i love black men but i want to be LOVED by a b...,prettykimmie_
4,2020-06-17 22:57:46+00:00,1273389402539073537,I want to KILL MYSELF,SierraDaOkayest

In [19]:
tweets_df6.shape

(501, 4)

#### July 2020

In [20]:
# Setting variables to be used below
maxTweets = 500

# Creating list to append tweet data to
tweets_list7 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('depressed, suicidal since:2020-07-01 until:2020-07-31').get_items()):
    if i>maxTweets:
        break
    tweets_list7.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [21]:
# Creating a dataframe from the tweets list above
tweets_df7 = pd.DataFrame(tweets_list7, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df7.head()

,Datetime,Tweet Id,Text,Username
0,2020-07-30 23:48:03+00:00,1288984732538155015,Ive been friends with the same girl for 12 yea...,CollinTheThorn
1,2020-07-30 23:47:39+00:00,1288984634869547011,you ever do that thing where you spent your fo...,GameOfColognes
2,2020-07-30 23:42:26+00:00,1288983320806789121,@NicoIate Depressed and probably suicidal adul...,brincedelu1
3,2020-07-30 23:34:50+00:00,1288981407801528322,@John22A all sonic twitter accounts are suicid...,BigBossMuzan
4,2020-07-30 23:26:04+00:00,1288979202906165249,"Ok y’all so after I lost my twitter, it seemed...",kaykachingwe

In [22]:
tweets_df7.shape

(501, 4)

#### August 2020

In [23]:
# Setting variables to be used below
maxTweets = 500

# Creating list to append tweet data to
tweets_list8 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('no one cares, suicidal since:2020-08-01 until:2020-08-31').get_items()):
    if i>maxTweets:
        break
    tweets_list8.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [24]:
# Creating a dataframe from the tweets list above
tweets_df8 = pd.DataFrame(tweets_list8, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df8.head()

,Datetime,Tweet Id,Text,Username
0,2020-08-30 23:13:10+00:00,1300209977420849152,i’m suicidal no one cares what’s new,PSYCH0ANNA
1,2020-08-30 12:49:42+00:00,1300053078020743168,tw// suicidal thoughts\n\ni wanna end it all r...,roseyyummy
2,2020-08-30 07:03:34+00:00,1299965970685935616,"i sit here daily with suicidal thoughts, depre...",_dobbyhoon
3,2020-08-30 04:55:34+00:00,1299933760884895747,No one knows how deep and vivid my suicidal id...,Isaac84681896
4,2020-08-30 04:29:38+00:00,1299927234673664003,Why can't alive person can have justice in ou...,Saurabs90579952

In [25]:
tweets_df8.shape

(67, 4)

## Non-suicide Posts

#### January 2020

In [26]:
# Setting variables to be used below
maxTweets = 580

# Creating list to append tweet data to
tweets_list9 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('you since:2020-01-12 until:2020-01-18').get_items()):
    if i>maxTweets:
        break
    tweets_list9.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [27]:
# Creating a dataframe from the tweets list above
tweets_df9 = pd.DataFrame(tweets_list9, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df9.head()

,Datetime,Tweet Id,Text,Username
0,2020-01-17 23:59:59+00:00,1218322105693089792,Having wine night with friends and went to gra...,kasedm
1,2020-01-17 23:59:59+00:00,1218322105693020160,"thank you whoever did that, for giving a Sande...",get_it_maggie
2,2020-01-17 23:59:59+00:00,1218322105621598208,@duckish I hope it's a lovely day filled with ...,wagamama__puu
3,2020-01-17 23:59:59+00:00,1218322105575493632,@Fib_Art Worse than you think baybe!!! Cant ev...,Danktapus
4,2020-01-17 23:59:59+00:00,1218322105525264396,@StevieDerrick_ Wtf you mean 😩😩😩😩 don’t it com...,whatsteabih

In [28]:
tweets_df9.shape

(581, 4)

#### Feburary 2020

In [29]:
# Setting variables to be used below
maxTweets = 580

# Creating list to append tweet data to
tweets_list10 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('come since:2020-02-12 until:2020-02-18').get_items()):
    if i>maxTweets:
        break
    tweets_list10.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [30]:
# Creating a dataframe from the tweets list above
tweets_df10 = pd.DataFrame(tweets_list10, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df10.head()

,Datetime,Tweet Id,Text,Username
0,2020-02-17 23:59:59+00:00,1229556128989794307,@realDonaldTrump Happy Presidents day. You kee...,danimal09752
1,2020-02-17 23:59:59+00:00,1229556127542759424,going live in the lab with some @DeadByBHVR c...,MarikinsElena
2,2020-02-17 23:59:59+00:00,1229556127400177664,@island_dre Nah Vybz Kartel - Come home,foreverkeishaa
3,2020-02-17 23:59:59+00:00,1229556127349825540,@heyimdais we may not come when you want but b...,nickktheequickk
4,2020-02-17 23:59:59+00:00,1229556126066388999,I’m live right now! Come hangout and chill wit...,AvidshredZ

In [31]:
tweets_df10.shape

(581, 4)

In [32]:
NS_tweets_merged = pd.concat([tweets_df9, tweets_df10], ignore_index = True)

In [33]:
NS_tweets_merged.shape

(1162, 4)

In [34]:
# exporting
NS_tweets_merged.to_csv('../data/NS_tweets_merged.csv', index = False)

#### Combining

In [35]:
# Combining the data set
tweets_merged = pd.concat([tweets_df1, tweets_df2, 
                           tweets_df3, tweets_df4, 
                           tweets_df5, tweets_df6,
                           tweets_df7, tweets_df8,
                           tweets_df9, tweets_df10], ignore_index = True)

In [36]:
tweets_merged.shape

(4251, 4)

In [37]:
tweets_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4251 entries, 0 to 4250
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  4251 non-null   datetime64[ns, UTC]
 1   Tweet Id  4251 non-null   int64
 2   Text      4251 non-null   object
 3   Username  4251 non-null   object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 133.0+ KB

In [38]:
# exporting 
tweets_merged.to_csv('../data/tweets_merged_Final.csv', index = False)